<div class="container">
  <form (ngSubmit)="updateAlmacen()" #almacenForm="ngForm" class="general-form">

    <mat-card-subtitle>Editar el almacen:</mat-card-subtitle>
    <br/>

    <mat-form-field class="input-full-width">
      <input matInput placeholder="Codigo" [(ngModel)]="currentAlmacen.CODIGO_ALMACEN" name="CODIGO_ALMACEN" required> 
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Ubicacion" [(ngModel)]="currentAlmacen.UBICACION" name="UBICACION" required>      
    </mat-form-field>

    <button type="submit" [disabled]="!almacenForm.form.valid" mat-raised-button>Actualizar</button>
  </form>
</div>
