<h1>
  <a [routerLink]="['/almacen-create']" mat-raised-button color="primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </a>
</h1>

<div class="mat-elevation-z8">
  <mat-input-container class="input-half-width">
    <input matInput placeholder="Filtrar almacenes por codigo:" #input>
  </mat-input-container>
  <div class="loading-shade" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table [dataSource]="dataSource" matSort matSortActive="CODIGO_ALMACEN" matSortDisableClear matSortDirection="asc">
      <ng-container matColumnDef="ID_ALMACEN">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID_ALMACEN </mat-header-cell>
        <mat-cell *matCellDef= "let almacen"> {{almacen.ID_ALMACEN}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="CODIGO_ALMACEN">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO </mat-header-cell>
        <mat-cell *matCellDef= "let almacen"> {{almacen.CODIGO_ALMACEN}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="UBICACION">
        <mat-header-cell *matHeaderCellDef mat-sort-header> UBICACION </mat-header-cell>
        <mat-cell *matCellDef= "let almacen"> {{almacen.UBICACION}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef= "let almacen">
          <a [routerLink]="['/almacen-edit', almacen.ID_ALMACEN]" mat-raised-button color="accent" *ngIf="almacen.ID_ALMACEN === idAlmacenSelected">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef= "let almacen">
          <button mat-raised-button color="warn" *ngIf="almacen.ID_ALMACEN === idAlmacenSelected" (click)="deleteAlmacen(almacen.ID_ALMACEN)">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"
                (click)="setSelectedId(row)"
                [ngClass]="{'bg-info': row.ID_ALMACEN === idAlmacenSelected}"></mat-row>
  </mat-table>

  <mat-paginator [length]=countAlmacens [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
</div>