.back-red {
    background-color: #d9534f;
}

.back-green {
    background-color: #5cb85c;
}

.back-blue {
    background-color: #428bca;
}

.back-skyblue {
    background-color: #5bc0de;
}

.back-purple {
    background-color: #aaafec;
}

.back-orange {
    background-color: #fe6b40;
}